.logo-bar {
  width: 100%;
  text-align: center;
  padding: 2.2rem;
  background-color: #290145;
}

.logo-bar__heading {
  color: #fff;
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
}

.logo-bar__heading span {
  /* color: #1db954; */
  color: #c94c09;
}
